<template>
    <modal :show="show" @close="close">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    App
                </h4>
            </div>

            <div class="modal-body">
                <label>Naam van app</label>
                <input v-model="app.Name" type="text" class="form-control mb-3">
                <label>Bebschrijving van app</label>
                <textarea class="form-control" v-model="app.Description" style="background:#EEE"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @click="$emit('close')"> Sluiten </button>

                <button type="button" class="btn btn-primary" @click="savePost()"> Opslaan </button>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        props: {
            show : {},
            id : {}
        },
        data: function() {
            return {
                app:{
                    Name : '',
                    Description : '',
                }
            }
        },
        methods: {
            close: function () {
                this.$emit('close');
            },
            savePost: function () {
                if (this.id != null  && this.id != undefined && this.id != '') { // als er een ID wordt gegeven, dan is het een UPDATE-modal
                    axios.patch('/api/app/' + this.id, {
                        appData: this.app,
                    })
                        .then(response => {
                            this.close();
                            this.$emit('refresh');
                        })
                        .catch(error => {
                            $.each(error.response.data, function (key, value) {
                            });
                        });
                } else {
                    axios.post('/api/app', {
                        appData: this.app,
                    })
                        .then(response => {
                            this.close();
                            this.$emit('refresh');
                        })
                        .catch(error => {
                            $.each(error.response.data, function (key, value) {
                            });
                        });
                }
            }

        },
        watch : {
            show() {
                if (this.id != null  && this.id != undefined && this.id != '') { // als er een ID wordt gegeven, dan mis het een UPDATE-modal
                    axios.get('api/app/' + this.id).then(response => this.app = response.data);
                } else {
                    Object.keys(this.app).forEach(key => this.app[key]='');
                }
            }
        },
        mounted() {
        }
    }
</script>
