<template>
    <transition name="modal">
        <div class="modal modal-mask" style="display: block" @click="close" v-show="show">
            <div class="modal-dialog" role="document" @click.stop>
                <slot></slot>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: ['show'],
        methods: {
            close: function () {
                this.$emit('close');
            }
        },
        mounted: function () {
            document.addEventListener("keydown", (e) => {
                if (this.show && e.keyCode == 27) {
                    this.close();
                }
            });
        }
    }
</script>
<style>

</style>