<template>
    <modal :show="show" @close="close">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Gebruiker
                </h4>
            </div>
            <div class="modal-body">
                <label>Naam</label>
                <input type="text" class="form-control" v-model="user.Name">
                <label>E-mail</label>
                <input type="email" class="form-control" v-model="user.email" >
                <label>Rol(len)</label>
                <multiselect v-model="user.roles" :options="roles" placeholder="Selecteer rollen" label="Name" track-by="id"></multiselect>
                <label>App</label>
                <multiselect v-model="user.apps" :options="apps" placeholder="Selecteer apps" label="Name"></multiselect>
                <br>
                <br>
                <label>Wachtwoord</label>
                <p class="small">Dit wachtwoord kan de gebruiker nadien aanpassen</p>
                <input type="password" class="form-control" v-model="user.password">
                <input type="password"class="form-control" v-model="user.passwordrepeat" placeholder="Herhaal">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @click="$emit('close')"> Sluiten </button>

                <button type="button" class="btn btn-primary" @click="savePost()"> Opslaan </button>
            </div>
        </div>
    </modal>
</template>

<script>
    export default {
        props: ['show', 'id'],
        data: function() {
            return {
                user :{
                    name : '',
                    email: '',
                    password: '',
                    passwordrepeat :'',
                    firm_id:'',
                    roles:[],
                    apps:[],
                },
                roles : [
                    {
                        name:'Issuetracker',
                        id:1
                    }
                ],
                apps : [
                    {
                        name:'Issuetracker',
                        id:1
                    }
                ],
            }
        },
        watch : {
            show() {
                if (this.id != null  && this.id != undefined && this.id != '') { // als er een ID wordt gegeven, dan is het een UPDATE-modal
                    axios.get('/api/user/' + this.id).then(response => this.user = response.data);

                } else {//indien geen ID wordt gegeven, is het een CREATE-modal
                    Object.keys(this.user).forEach(key => this.user[key]=''); //alle data uitwissen
                    this.selectedFirm = {};
                    this.selectedRoles = {};
                }
            }
        },
        methods: {
            close: function () {
                this.$emit('close');
            },
            savePost: function () { //als er een ID wordt gegeven, dan is het een  UPDATE-modal
                if (this.id != null  && this.id != undefined && this.id != '') {
                    axios.patch('/api/user/' + this.id, {
                        userData: this.user,
                    })
                        .then(response => {
                            toastr.success('De gebruikersgegevens zijn aangepast');
                            this.close()
                        })
                        .catch(error => {
                            $.each(error.response.data, function (key, value) {
                                toastr.error(value[0]);
                            });
                        });
                } else {
                    axios.post('/api/user/', {
                        userData: this.user,
                    })
                        .then(response => {
                            toastr.success('De opdracht is succesvol aangemaakt');
                            this.close()
                        })
                        .catch(error => {
                            $.each(error.response.data, function (key, value) {
                                toastr.error(value[0]);
                            });
                        });
                }
            }
        },
        mounted() {
            axios.get('api/firm/').then(response => this.firms = response.data);
            axios.get('api/roles/').then(response => this.roles = response.data);
        }
    }
</script>